<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970638536567-ir0cgvvkvjrit3767qie428oidsg7djb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970638536567-ir0cgvvkvjrit3767qie428oidsg7djb</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Ub5Fc_nT33ZPUbPYR39J1M59qoKtJCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>970638536567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodAppDemo</string>
	<key>PROJECT_ID</key>
	<string>food-app-289b5</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-289b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970638536567:ios:15f913df1b8d82f0a07b72</string>
</dict>
</plist>